registry=https://my-domain-524516505586.d.codeartifact.us-east-1.amazonaws.com/npm/my-repo/
//my-domain-524516505586.d.codeartifact.us-east-1.amazonaws.com/npm/my-repo/:always-auth=true
//my-domain-524516505586.d.codeartifact.us-east-1.amazonaws.com/npm/my-repo/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
